*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  background-color: snow;
  color: #282828;
}