.lista{
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
.lista li{
  flex: 1;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.invertida{
  flex-direction: row-reverse;
}
@media screen and (max-width:768px) {
  .lista{
    flex-direction: column;
  }
  .invertida{
    flex-direction: column-reverse;
  }
}